<a class="back-link" href="./index.html">Go back</a>

<section class="work">
  <div class="work-work">
    <h1 class="hero-work">Work at the speed of thought</h1>
    <p class="hero-text">
      Tools, tutorials, design and innovation experts, all in one place! The
      most intuitive way to imagine your next user experience.
    </p>
    <ul class="button-work">
      <li class="list-btn-w">
        <button type="button" class="list-btn-work">Get started</button>
      </li>
      <li class="list-btn-w">
        <button type="button" class="list-btn-work-two">Watch the Video</button>
      </li>
    </ul>
  </div>
  <img src="../images/hero-img.png" alt="people" />
</section>
