<section>
  <h2>Quick & Easy Process</h2>
  <p>
    Do you require some help for your project: Conception workshop, prototyping,
    marketing strategy, landing page, Ux/UI?
  </p>
  <ul>
    <li>
      <img src="../images/avatar-one.png" alt="" />
      <p>I can take care of your pitch</p>
    </li>
    <li>
      <img src="../images/avatar-two.png" alt="" />
      <p>I can take care of your pitch</p>
    </li>
    <li>
      <img src="../images/avatar-three.png" alt="" />

      <p>I can prototype your app</p>
    </li>
    <li>
      <img src="../images/avatar-four.png" alt="" />
      <p>I can help marketing strategy</p>
    </li>
  </ul>
  <button>Contact our expert</button>
</section>
