<section class="product">
  <h2 class="product-header">Product was Built Specifically for You</h2>

  <ul class="product-list">
    <li class="product-list-item">
      <img src="../images/icon-1.png" alt="" />
      <h3>First click tests</h3>
      <p>While most people enjoy casino gambling,</p>
    </li>
    <li class="product-list-item">
      <img src="../images/icon-2.png" alt="" />
      <h3>Design surveys</h3>
      <p>Sports betting, lottery and bingo playing for the fun</p>
    </li>
    <li class="product-list-item">
      <img src="../images/icon-3.png" alt="" />
      <h3>Preference tests</h3>
      <p>The Myspace page defines the individual.</p>
    </li>
    <li class="product-list-item">
      <img src="../images/icon-4.png" alt="" />
      <h3>Five second tests</h3>
      <p>Personal choices and the overall personality of the person.</p>
    </li>
  </ul>
  <button class="product-button">SIGN UP NOW</button>
</section>
